* {
	margin: 0;
	padding: 0;
}

div#container {
	
}

div#header {
	background-color: #60C;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #000;
	float: left;
}

/* div#left {
	background-color: #FFFFFF;
	min-height: 650px;
	height: auto;
	width: 50%;
	float: left;
	margin-left: 13%;
}

div#right {
	min-height: 650px;
	height: auto;
	width: 24%;
	float: left;
	margin-right: 12%;
	border-left: 1px solid #DDD;
}
 */
div#body {
	height: auto;
	height:600px;
	width: 100%;
	float: left;
	
	 clear : both;
	text-align: center;
	clear: both;
}

div#footer {
	background-color: #666600;
	height: 60px;
	width: 100%;
	 float : left;
	clear: both;
	text-align: center;
	
}

p {
	margin: 0 0 0 0;
}

a {
	text-decoration: none;
}

/* #paragraph1 {
	font-family: fantasy;
	font-size: 17px;
	font-style: oblique;
	font-weight: bolder;
	margin: 12px 0 0 10px;
}
 
#form_publish {
	border-bottom: 1px solid #DDD;
}

#publish {
	overflow: hidden;
	margin: 0 0 0 15px;
}

#publish_submit {
	margin: 10px 0 10px 612px;
}
*/